<h1 id="tableLabel">Category</h1>

<p *ngIf="!categories"><em>Loading...</em></p>

<a class="nav-link text-dark" [routerLink]="['/category-create']"
              >New Category</a
            >

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="categories">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>        
        <td>{{ category.name }}</td>
        <td><button (click)="Remove([category.id])">Remove</button></td>
      </tr>
    </tbody>
  </table>
